<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
  <ol>
    <% @users.each do |user| %>
      <li><%=user.name %></li>
        <ol>
          <% @pros.each do |pro| %>
            <% if pro.user_id == user.id %>
              <li><%=pro.skill.name%>    |   <%=pro.skill.context%>   |   <%=pro.years%>   |   <%=pro.formal%> </li>
            <% end %>
          <% end %>
        </ol>
        
    <% end %>
  </ol>
</div>
